<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="SQLConnectionString01" connectionString="
                 Data Source=(LocalDB)\MSSQLLocalDB;
                 AttachDbFilename=|DataDirectory|\Database\DatabaseSunSystem.mdf;
                 Integrated Security=True" providerName="System.Data.SqlClient"/>
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
    <appSettings>
        <add key="Var1" value="Var1 value from config01"/>
    </appSettings>
</configuration>
